target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Compiled class file ###
*.class

### Log file ###
*.log

### Package Files ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### VM crash logs ###
hs_err_pid*
replay_pid*

### IDE Files ###
.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
.vscode/
.DS_Store

